.filtros-e-adicionar {
    display: flex;
    margin-top: 20px;
    padding: 1rem 1rem;
    align-items: center;
    box-shadow: 0 0 4px #0000001a;
    justify-content: space-between;
}
.filtros-e-adicionar .filtros {
    display: flex;
    gap: 10px;
}
.filtros-e-adicionar .filtros .selecionar {
    gap: 5px;
    display: flex;
    text-align: center;
    flex-direction: column;
}
.filtros-e-adicionar .filtros .selecionar label {
    color: #10172A;
    font-size: 0.9rem;
    font-weight: 600;
}
.filtros-e-adicionar .filtros select {
    padding: 5px;
    outline: none;
    cursor: pointer;
    min-width: 130px;
    appearance: none;
    text-align: center;
    border-radius: 4px;
    -moz-appearance: none;
    border: 1px solid #ccc;
    background-color: #fff;
    -webkit-appearance: none;
}
.filtros-e-adicionar .filtros select:hover {
    border-color: #999;
}
.filtros-e-adicionar .btn-adicionar {
    border: none;
    display: flex;
    color: #fff;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 4px;
    align-items: center;
    transition: .3s ease;
    background-color: #1e3061;
}
.filtros-e-adicionar .btn-adicionar:hover {
    background-color: #10172A;
}
