@import url('./header-menu.css');
@import url('./table.css');
@import url('./filtros-e-adicionar.css');
@import url('./modal.css');
@import url('./custom-sweetalert2.css');

* {
    margin: 0;
    /* padding: 0; */
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    color: #10172A;
    overflow-x: hidden;
    background-color: #f4f4f4;
}

.container {
    padding: 1rem;
    margin: 0 auto;
    overflow-x: auto;
}

.section-pesquisa-relatorios {
    display: flex;
    margin: 1rem 0rem 0rem 0rem;
    align-items: center;
    justify-content: space-between;
}

.pesquisa {
    display: flex;
    justify-content: start;
}
.pesquisa input {
    width: 250px;
    border-radius: 4px;
    padding: .5rem .8rem;
    border: 1px solid #ccc;
}

.acoes-relatorio button {
    padding: .5rem .8rem;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    background-color: #10172A;
    color: #fff;
}